/*
    css tricks
    漂亮字体: font-family: "inconsolata", monospace;;
 */

/*----------- 1. clear float -------------清除浮动*/
/* 1) use overflow in element has float children */
.wrapper {
    /*overflow: auto;*/
    overflow: hidden;
}
/* 2) use overflow */
.wrapper:before, .wrapper:after {
    content: ' ';
    display: table;
}
/* 3) clear float in element after a float element */
.clearfix {
    clear: both;
}


/*----------- 2. vertical-align: middle ------------- 垂直居中*/
/* 1) absolute postion*/
/* html like this
<div class="parent">
    <div class="child">Content here</div>
</div>
 And the following is css
*/
.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
/* 2) use display table */
/* html like this doesn't support ie older than ie8
<div class="parent">
    <div class="child">Content here</div>
</div>
 And the following is css
*/
.parent {
    display: table;
}

.child {
    display: table-cell;
    vertical-align: middle;
}
/* 3) use padding*/

.parent {
    padding: 5% 0;
}

.child {
    padding: 10% 0;
}
/* 4) use translate */
.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* horizontal in the same way */
.center-horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

/* -------------------3. footer stick at page bottom ----------------------footer固定底部*/
/*
here is html, this works well in most browser including IE
<!doctype html>
<html lang="en">
<body id="index-page">
<div class="footer-fixed"></div>
<div class="footer"></div>
</body>
</html>
 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    min-height: 100%;
    /*position is very important*/
    position: relative;
}
.footer-fixed {
    height: 200px;
}
.footer {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* --------------------4. animate between display block & none--------------动画显示隐藏*/
/* 1) use opacity height & overflow: this is ugly,
    animation on show but not hide because of height auto
    with no animation.
*/
div {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

div.active {
    opacity: 1;
    height: auto;
}
/* 2) use opacity & max-height: this is better*/
div {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

div.active {
    opacity: 1;
    max-height: 400px; /* PERCENT LIKE 100% WON'T WORK!
    CAN USE A MAX-HEIGHT BIGGER THAN ITS SIZE */
}


/* ---------------------5. horizontal scroll------------------------ 水平滚动 */
/* 1) white-space:nowrap; display: inline-block;  overflow-x: auto;*/
ul {
    list-style: none;
    margin: 0;
    padding: 4px;
    text-align: center;
    font-size: 14px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden; /* for IE8*/
    white-space:nowrap;
}
ul li {
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    cursor: pointer;
}
/* 2) just overflow if inner is widther than outer */
.hscroll {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden; /* for IE8*/
}

/*------------------6. text-overflow: ellipsis; ----------------- 文字溢出时显示省略号*/
/* 得保证该元素有自己的宽度(不能为内联元素, PS: 有float属性的也可以获得宽度)*/
.ellips {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*------------------7. iframe Responsive height -------------------- iframe 自适应高度*/
/* 一下是html结果
<div class="content">
    <div class="embed-container">
        <iframe src="http://www.youtube.com/embed/v2938XRpRjM" frameborder="0"></iframe>
    </div>
</div>

参考链接 http://yetti.co.uk/blog/articles/responsive-iframe-objects-and-embeds.html
better resize method
http://yetti.co.uk/blog/articles/better-responsive-iframes.html
一下是css
*/
.content {
    width: 50%;
    margin: 0px auto;
}
.embed-container {
    height: 0; /* 高度可调, 如果改元素距离顶部有距离, 高度则应为该值 */
    width: 100%;
    padding-bottom: 56.25%; /*该值为正常屏幕的高宽比 9 / 16*/
    overflow: hidden;
    position: relative;
}

.embed-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*-----------------8. display inline-block increase parent height------------------- 包含有内联块状元素容器高度可能莫名增大的问题*/
/*
该问题主要由于line-height属性导致的, 容器有line-height, 所以会看到父元素高度和内联块元素间有留白, 设置 line-height: 0; 即可
*/
.container {
    line-height: 0;
}

/*-----------------9. line-height with input on firefox not working----------------------*/
/*
 火狐的本身的bug, 无法设置input的line-height, 需要手动设置input的height才行
*/

/* ---------------10. fixed ratio of width & height---------------- */
/*
<div class="container">
    <div class="content">
        this content will have a constant aspect ratio that varies based on the width.
    </div>
</div>
*/
.container {
    position: relative;
    width: 100%;
    /* fix width / height is 5 / 1*/
    padding-bottom: 20%;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/*----------------11. text justify for chinese --------------------*/
/*
there must be a space between each word
<div class="justify">姓 名</div>
 */
.justify {
    text-align: justify;
    text-align-last: justify;
}
.justify:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}
/*-----------------12. Prevent background-color bleed on touch screens
 阻止移动设备上, 缩放时有背景颜色的元素出现黑色边框---*/
/* referred  http://bricss.net/post/23292393396/prevent-background-color-bleed-on-touch-screens 
Just a 1 pixel outline in the same color as your page background, et voila!
*/
div {
    outline: 1px solid #fff;
}

