<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>liquid</title>
  <style>
    html,body {
      padding: 0;
      margin: 0;
    }
    body {
      padding: 8px;
      background-color: #eee;
    }
    .box {
      width: 150px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px #999;
      /*float: left;*/
      display: inline-block;
      margin-right: 20px;
      margin-top: 10px;
      vertical-align: top;
    }
  </style>
</head>
<body>
  <div class="box" style="height:50px"></div>
  <div class="box" style="height:80px"></div>
  <div class="box" style="height:90px"></div>
  <div class="box" style="height:120px"></div>
  <div class="box" style="height:130px"></div>
  <div class="box" style="height:30px"></div>
  <div class="box" style="height:70px"></div>
  <div class="box" style="height:140px"></div>
  <div class="box" style="height:80px"></div>
  <div class="box" style="height:120px"></div>
  <div class="box" style="height:130px"></div>
  <div class="box" style="height:190px"></div>
  <div class="box" style="height:170px"></div>
</body>
</html>